@model Panda.Site.Models.PostListItem

@if (Model != null)
{
    <div class="post-list-item">
        @if (Model.Cover != null)
        {
            <div class="img-box">
                <img src="@Model.Cover" alt="@Model.Title"/>
            </div>
        }
        <div class="item">
            <div class="top">
                <div class="title">
                    <a href="/post/@(Model.Link).html" class="text-black">@Model.Title</a>
                </div>
                <div class="summary text-secondary">
                    @Html.Raw(Model.Summay)
                </div>
            </div>
            <div class="toolbar text-muted">
                <i class="ri-time-line m-r-1"></i><span>@Model.UpdateTime.ToLocalTime().ToString("yyyy-MM-dd")</span>
                <i class="ri-user-line m-l-2 m-r-1"></i><span>@Model.Author</span>
            </div>
        </div>
    </div>
}