@model Panda.Entity.Models.ArticleDetailItem
@{
    ViewData["Title"] = "post";
}
@{
    if (Model == null)
    {
        <h1>404</h1>
        return;
    }
}

<div class="post-main">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <div class="card">
                <header>
                    <h1 class="post-title">@Model.Title</h1>
                </header>
                <div class="post-desc">
                    <i class="ri-time-line m-r-1"></i><time datetime="@Model.AddTime" class="p-r-4">@Model.AddTime.ToString("yyyy年MM月dd日")</time>
                    <i class="ri-user-line m-r-1"></i><span class="p-r-4">@(Model.AccountName==null?"管理员":Model.AccountName)</span>
                    <span>
                        分类:
                        @foreach (var item in Model.Categories)
                        {
                            <a href="/category/@item.Id">@item.CateName</a>
                        }
                    </span>
                </div>
                <div class="post-body">
                    @(Html.Raw(Model.Content))
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            @{
                await Html.RenderPartialAsync("_LatestPostPartial");
            }
            @{
                await Html.RenderPartialAsync("_CategoriesPartial");
            }
        </div>
    </div>
</div>

@section css{
    <link rel="stylesheet" href="~/css/highlight.css" asp-append-version="true"/>
}

@section Scripts
{
    <script src="~/js/highlight.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((el) => {
        hljs.highlightElement(el);
      });
    });
    </script>
}