@page "/post/{link}.html"
@model Panda.Site.Pages.Post.Post
@inject IConfiguration Configuration
@{
    var post = Model.PostModel;
    ViewData["title"] = Model.PostModel?.Title;
}
<div class="row">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="crumbs">
                            <a href="/">@Configuration.GetSection("site:Name").Value</a>
                            <span class="text-muted">/</span>
                            @if (post?.Categorys != null)
                            {
                                @foreach (var cate in post.Categorys)
                                {
                                    <a href="/category/@(cate.CateId)_1">@cate.CateName</a>
                                }
                            }
                            <span class="text-muted">/</span>
                            <a href="/post/@(post?.Link).html">@post?.Title</a>
                        </div>
                    </div>
                </div>
                <hr class="line"/>
                <div class="row">
                    <div class="col post">
                        <h1 class="post-title">@post?.Title</h1>
                        <p class="d-flex d-flex-row-align-center text-muted toolbar mt-3 flex-wrap">
                            <i class="ri-calendar-line"></i><span class="me-3">@post?.UpdateTime.ToLocalTime().ToString("yyyy-MM-dd")</span>
                            <i class="ri-user-line"></i><span class="me-3">@post?.Author</span>
                            <i class="ri-links-line"></i><span>@(Configuration.GetSection("Site:Domain").Value + $"/post/{Model.PostModel?.Link}.html")</span>
                        </p>
                    </div>
                </div>
                <hr class="line"/>
                <div class="row">
                    <div class="col post">
                        <div class="post-body">
                            @Html.Raw(post?.Content)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @if (Model.PostModel?.PrePost != null)
                {
                    <div class="col-12 col-lg-6">
                        <a href="/post/@(Model.PostModel.PrePost.Link)">上一篇: @Model.PostModel.PrePost.Title</a>
                    </div>
                }
                @if (Model.PostModel?.NextPost != null)
                {
                    <div class="col-12 col-lg-6">
                        <a href="/post/@(Model.PostModel.NextPost.Link)">下一篇: @Model.PostModel.NextPost.Title</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        @await Html.PartialAsync("_CategoryPartial")
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/vs2015.min.css"/>

}

@section Scripts
{
    <script src="~/js/highlight.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',
            (event) => {
                document.querySelectorAll('pre code').forEach((el) => {
                    hljs.highlightElement(el);
                });
            });
    </script>
}