@using Panda.Entity.Models
@using Panda.Entity.Responses
@inject ICategoryService _categoryService
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@{
    var res = ViewData["res"] as PageResponse<ArticleItem>;
}

<div class="row">
    <h1>@ViewData["cateName"]</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-8 col-xxl-8">
        @foreach (var item in res?.Data)
        {
            <div class="entry-card">
                <h2 class="entry-title">
                    <a href="/post/@(item.Id).html">@item.Title</a>
                </h2>
                <div class="entry-content">
                    <p>@item.Summary</p>
                </div>
                <div class="entry-footer">
                    <div >
                        <time datetime="@item.AddTime">@item.AddTime.ToString("yyyy年MM月dd日")</time>
                        <span>作者：@item.AccountName</span>
                    </div>
                </div>
            </div>
        }

        <div>
            @{
                var pageCount = res.Total.GetPageSum(10);
                int index = Convert.ToInt32(ViewData["index"]);
                @if (pageCount > 1)
                {
                    <ul class="page">
                        @{
                            @for (var i = 1; i <= pageCount; i++)
                            {
                                <li>
                                    <a class="@(index == i ? "active" : "")" href="/page/@i">@i</a>
                                </li>
                            }
                        }
                    </ul>
                }
            }
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
        @{
            await Html.RenderPartialAsync("_LatestPostPartial");
        }

        @{
            await Html.RenderPartialAsync("_CategoriesPartial");
        }

    </div>
</div>