@using Panda.Entity.Responses
@using Panda.Entity.Models
@{
    ViewData["Title"] = "Home Page";
}

@{
    var res = ViewData["res"] as PageResponse<ArticleItem>;
}

@inject ICategoryService _categoryService

<div class="row">
    <div class="col-12 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
        <div class="card">
            @foreach (var item in res?.Data)
            {
                <div class="entry-card">
                    <h2 class="entry-title">
                        <a href="/post/@(item.Id).html">@item.Title</a>
                    </h2>
                    <div class="entry-content">
                        <p>@item.Summary</p>
                    </div>
                    <div class="entry-footer">
                        <div class="d-flex-row-align-center">
                            <i class="ri-time-line m-r-1"></i>
                            <time datetime="@item.AddTime">@item.AddTime.ToString("yyyy年MM月dd日")</time>
                            <i class="ri-user-line m-l-2 m-r-1"></i>
                            <span>作者：@item.AccountName</span>
                        </div>
                    </div>
                </div>
            }


        </div>
        <div>
            @{
                var pageCount = res.Total.GetPageSum(10);
                var index = Convert.ToInt32(ViewData["index"]);
                @if (pageCount > 1)
                {
                    <ul class="page">
                        @{
                            @for (var i = 1; i <= pageCount; i++)
                            {
                                <li>
                                    <a class="@(index == i ? "active" : "")" href="/page/@i">@i</a>
                                </li>
                            }
                        }
                    </ul>
                }
            }
        </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
        @{
            await Html.RenderPartialAsync("_LatestPostPartial");
        }
        @{
            await Html.RenderPartialAsync("_CategoriesPartial");
        }
    </div>
</div>