@using Panda.Entity.Responses
@using Panda.Entity.Models
@{
    ViewData["Title"] = "Home Page";
}

@{
    var res = ViewData["res"] as PageResponse<ArticleItem>;
}

@inject ICategoryService _categoryService

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-8 col-xxl-8">
        @foreach (var item in res?.Data)
        {
            <div class="entry-card">
                <h2 class="entry-title">
                    <a href="/post/@(item.Id).html">@item.Title</a>
                </h2>
                <div class="entry-content">
                    <p>@item.Summary</p>
                </div>
                <div class="entry-footer">
                    <div >
                        <time datetime="@item.AddTime">@item.AddTime.ToString("yyyy年MM月dd日")</time>
                        <span>作者：@item.AccountName</span>
                    </div>
                </div>
            </div>
        }

        <div>
            @{
                var pageCount = res.Total.GetPageSum(10);
                int index = Convert.ToInt32(ViewData["index"]);
                @if (pageCount > 1)
                {
                    <ul class="page">
                        @{
                            @for (var i = 1; i <= pageCount; i++)
                            {
                                <li>
                                    <a class="@(index == i ? "active" : "")" href="/page/@i">@i</a>
                                </li>
                            }
                        }
                    </ul>
                }
            }
        </div>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
        <div class="card">
            <div class="card-header">
                <h2 class="p-l-6 card-title">近期文章</h2>
            </div>
            <div class="card-body">
                <ul class="p-l-6">
                    @for (int i = 0; i < 5; i++)
                    {
                        <li>
                            <a href="/">测试我的博客文章</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="card m-t-5">
            <div class="card-header">
                <h2 class="p-l-6 card-title">分类</h2>
            </div>
            <div class="card-body">
                <ul class="p-l-6">
                    @{
                        var categories = await _categoryService.GetCategoriesByCache(new CategoryPageRequest() {Index = 1, Size = 50}, TimeSpan.FromMinutes(5));
                        foreach (var categoryItem in categories)
                        {
                            <li>
                                <a href="/category/@categoryItem.Id">@categoryItem.CateName</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

    </div>
</div>