@using Panda.Entity.Responses
@using Panda.Entity.Models
@{
    ViewData["Title"] = "Home Page";
}

@{
    var res = ViewData["res"] as PageResponse<ArticleItem>;
}

    @foreach (var item in res?.Data)
    {
        <div class="entry-card">
            <h2 class="entry-title">
                <a href="/post/@(item.Id).html">@item.Title</a>
            </h2>
            <div class="entry-content">
                <p>@item.Summary</p>
            </div>
            <div class="entry-footer">
                <div >
                    <time datetime="@item.AddTime">@item.AddTime.ToString("yyyy年MM月dd日")</time>
                    <span>作者：@item.AccountName</span>
                </div>
            </div>
        </div>
    }

<div>
    @{
        var pageCount = res.Total.GetPageSum(10);
        @if (pageCount > 1)
        {
            <ul>
                @{
                    @for (var i = 1; i <= pageCount; i++)
                    {
                        <li>
                            <a href="/page/@i">@i</a>
                        </li>
                    }
                }
            </ul>
        }
    }
</div>