@model Panda.Entity.Models.PostDetailItem
@{
    ViewData["Title"] = Model?.Title;
    ViewData["Description"] = Model?.Summary;
}
@{
    if (Model == null)
    {
        <h1>404</h1>
        return;
    }
}
@using Panda.Services.Posts;
@inject IPostService postService;

<div class="post-main">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 col-xxl-9">
            <div class="card">
                <header>
                    <h1 class="post-title">@Model.Title</h1>
                </header>
                <div class="post-desc">
                    <i class="ri-time-line m-r-1"></i><time datetime="@Model.AddTime" class="p-r-4">@Model.AddTime.ToString("yyyy年MM月dd日")</time>
                    <i class="ri-user-line m-r-1"></i><span class="p-r-4">@(Model.Account?.UserName)</span>
                    <span>
                        分类:
                        @foreach (var item in Model.Categories)
                        {
                            <a href="/category/@item.Id">@item.CateName</a>
                        }
                    </span>
                </div>
                <div class="post-body">
                    @(Html.Raw(Model.Content))
                </div>
                <div class="post-footer">
                    <p class="tags">
                        @foreach (var item in Model.TagItems)
                        {
                            <span class="tag">
                                <a href="/tag/@item.Id">@item.TagName</a>
                            </span>
                        }
                    </p>
                </div>
                <div class="post-next">
                    @{
                        var nextItems = await postService.GetNextPostItem(Model.Id);
                        <ul>
                            @foreach (var item in nextItems)
                            {
                                <li>
                                    [@item.Type.Description()]<a href="/post/@(item.Id).html" target="_blank">@item.Title</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            @{
                await Html.RenderPartialAsync("_LatestPostPartial");
            }
            @{
                await Html.RenderPartialAsync("_CategoriesPartial");
            }
            @{
                await Html.RenderPartialAsync("_siteInfoPartial");
            }
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/vs2015.min.css"/>
}

@section Scripts
{
    <script src="~/js/highlight.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
      document.querySelectorAll('pre code').forEach((el) => {
        hljs.highlightElement(el);
      });
    });
</script>
}