@page "/post/{link}.html"
@using Panda.Tools.Web
@using Panda.Site.Services.Site
@model Panda.Site.Pages.Post.Post
@inject IConfiguration Configuration
@{
    var post = Model.PostModel;
    ViewData["title"] = Model.PostModel?.Title;
}
<div class="row">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="crumbs">
                            <a href="/">@Configuration.GetSection("site:Name").Value</a>
                            <span class="text-muted">/</span>
                            <a href="/post/@(post?.Link).html">@post?.Title</a>
                        </div>
                    </div>
                </div>
                <hr class="line"/>
                <div class="row">
                    <div class="col post">
                        <h1 class="post-title">@post?.Title</h1>
                        <p class="d-flex d-flex-row-align-center text-muted toolbar mt-3 flex-wrap">
                            <i class="ri-calendar-line"></i><span class="me-3">@post?.UpdateTime.ToLocalTime().ToString("yyyy-MM-dd")</span>
                            <i class="ri-user-line"></i><span class="me-3">@post?.Author</span>
                            <i class="ri-folders-line"></i>
                            <span class="me-3">
                                @if (post?.Categorys != null)
                                {
                                    @foreach (var cate in post.Categorys)
                                    {
                                        <a class="badge bg-success text-white" href="/category/@(cate.CateId)_1" target="_blank">@cate.CateName</a>
                                    }
                                }
                            </span>
                        </p>
                    </div>
                </div>
                <hr class="line"/>
                <div class="row">
                    <div class="col post">
                        <div class="post-body">
                            @Html.Raw(post?.Content)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="p-3">
                        <span class="">标签</span>

                        @if (post?.Tags != null)
                        {
                            foreach (var tag in post.Tags)
                            {
                                <a class="badge bg-info text-white" target="_blank" href="/tag/@(tag)_1">@tag</a>
                            }
                        }
                    </p>
                </div>
            </div>
            <div class="row">
                @if (Model.PostModel?.PrePost != null)
                {
                    <div class="col-12 col-lg-6">
                        <a href="/post/@(Model.PostModel.PrePost.Link)">上一篇: @Model.PostModel.PrePost.Title</a>
                    </div>
                }
                @if (Model.PostModel?.NextPost != null)
                {
                    <div class="col-12 col-lg-6">
                        <a href="/post/@(Model.PostModel.NextPost.Link)">下一篇: @Model.PostModel.NextPost.Title</a>
                    </div>
                }
            </div>
        </div>
        <div id="comment" class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-header" v-on:click="send()">
                        评论
                    </div>
                    <div class="card-body">
                        <form class="row">
                            <div class="col">
                                @if (string.IsNullOrWhiteSpace(App.GetCookie(IVisitorService.VisitorCookieNickEmail)))
                                {
                                    <div class="row g-3">
                                        <div class="col-md-3">
                                            <label class="form-label">昵称</label>
                                            <input class="form-control" v-model="form.nickName"/>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label class="form-label">邮箱</label>
                                            <div class="input-group">
                                                <input class="form-control" placeholder="留下邮箱，以便收到留言回复" v-model="form.email"/>
                                                <button class="btn btn-outline-primary" v-on:click="sendcode()" type="button" :disabled="sending">{{sendtext}}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-3">
                                            <label class="form-label">验证码</label>
                                            <input placeholder="输入验证码" class="form-control" v-model="form.code"/>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row gap-3">
                                        <div class="row">
                                            <p>欢迎你：<strong>@App.GetCookie(IVisitorService.VisitorCookieNickName)</strong></p>
                                        </div>
                                    </div>
                                }
                                <div class="row mt-3">
                                    <div class="col">
                                        <label class="form-label">评论内容</label>
                                        <textarea placeholder="输入友善评论" class="form-control" rows="5" v-model="form.content"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" v-on:click="submit()" type="button" :disabled="saving">提交评论</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" v-for=" item in commentList">
                            <div class="col">
                                <p>
                                    {{item.nickName}}
                                </p>
                                <div>
                                    {{item.content}}
                                </div>
                                <div>评论时间{{item.addTime}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        @await Html.PartialAsync("_CategoryPartial")
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/vs2015.min.css"/>

}

@section Scripts
{
    <script src="~/js/highlight.js"></script>
    <script src="~/js/vue.js" asp-append-version="true"></script>
    <script src="~/layer/layer.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',
            (event) => {
                document.querySelectorAll('pre code').forEach((el) => {
                    hljs.highlightElement(el);
                });
            });
    </script>
    <script>
    
   
     new Vue({
        el:'#comment',
        data:{
           form:{
            nickName:'',
            email:'',code:'',
            content:''
           },
           loading:false,
           commentList:[],
           comment:{
            index:1,size:20,link:'@post.Link',total:0,totalSize:0   
           }
           ,sending:false,
           sendtext:'获取验证码',
           saving:false
           
        },
        created(){
            this.getComment();
        },
        methods:{
            submit(){
                console.log('send',this.form)
                if (!this.form.content){
                    layer.msg('评论内容不能为空')
                    return
                }
                this.saving = true
                $.ajax({
                url:"/api/Comment/Submit",
                contentType:'application/json',
                method:'post',
                data:JSON.stringify({
                    email:this.form.email,code:this.form.code,content:this.form.content,
                    postlink:'@post.Link'
                }),
                success:(res)=>{
                    layer.msg('评论成功，审核后显示')
                },
                error:(err)=>{
                    console.log(err)
                      layer.msg('评论失败')
                  },
                  complete:()=>{
                    this.saving = false
                  }
                })
            },
            getComment(){
                let that = this;
                $.get('/api/Comment/GetList',this.comment,function (res){
                    console.log(res,that.comment)
                    for (let i =0 ;i<res.data.length;i++){
                         that.commentList.push(res.data[i])
                    }
                })
            },
            sendcode(){
                if (!this.form.nickName){
                    layer.msg('昵称不能为空')
                    return
                }
                if (!this.form.email){
                    layer.msg('邮箱不能为空')
                    return;
                }
                this.sendtext = "发送中..."
                this.sending = true
                $.ajax({
                url:'/api/Visitor/SendVerificationCode',
                method:'post',
                data:JSON.stringify({email:this.form.email,nickname:this.form.nickName}),
                contentType:'application/json'
                ,success:(res)=>{
                    layer.msg('发送验证码成功')
                }
                ,error:(err)=>{
                    console.error(err)
                    if(err.responseJSON && err.responseJSON.message){
                        layer.msg(err.responseJSON.message)
                    }else{
                    layer.msg('发送验证码失败')
                    }
                },
                complete:()=>{
                    this.sending = false
                    this.sendtext = "获取验证码"
                }
                })
            }
        }
     })
     
    </script>
}