@page "/post/{link}.html"
@model Panda.Site.Pages.Post.Post
@inject IConfiguration Configuration
@{
    var post = Model.PostModel;
    ViewData["title"] = Model.PostModel?.Title;
}
<div class="row">
    <div class="col-12 col-lg-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="crumbs">
                            <a href="/">@Configuration.GetSection("site:Name").Value</a>
                            <span class="text-muted">/</span>
                            <a href="/post/@(post?.Link).html">@post?.Title</a>
                        </div>
                    </div>
                </div>
                <hr class="line"/>
                <div class="row">
                    <div class="col post">
                        <h1 class="post-title">@post?.Title</h1>
                        <p class="d-flex d-flex-row-align-center text-muted toolbar mt-3 flex-wrap">
                            <i class="ri-calendar-line"></i><span class="me-3">@post?.UpdateTime.ToLocalTime().ToString("yyyy-MM-dd")</span>
                            <i class="ri-user-line"></i><span class="me-3">@post?.Author</span>
                            <i class="ri-folders-line"></i>
                            <span class="me-3">
                                @if (post?.Categorys != null)
                                {
                                    @foreach (var cate in post.Categorys)
                                    {
                                        <a class="badge bg-success text-white" href="/category/@(cate.CateId)_1" target="_blank">@cate.CateName</a>
                                    }
                                }
                            </span>
                        </p>
                    </div>
                </div>
                <hr class="line"/>
                <div class="row">
                    <div class="col post">
                        <div class="post-body">
                            @Html.Raw(post?.Content)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="p-3">
                        <span class="">标签</span>

                        @if (post?.Tags != null)
                        {
                            foreach (var tag in post.Tags)
                            {
                                <a class="badge bg-info text-white" target="_blank" href="/tag/@(tag)_1">@tag</a>
                            }
                        }
                    </p>
                </div>
            </div>
            <div class="row">
                @if (Model.PostModel?.PrePost != null)
                {
                    <div class="col-12 col-lg-6">
                        <a href="/post/@(Model.PostModel.PrePost.Link)">上一篇: @Model.PostModel.PrePost.Title</a>
                    </div>
                }
                @if (Model.PostModel?.NextPost != null)
                {
                    <div class="col-12 col-lg-6">
                        <a href="/post/@(Model.PostModel.NextPost.Link)">下一篇: @Model.PostModel.NextPost.Title</a>
                    </div>
                }
            </div>
        </div>
        <div id="comment" class="row mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-header" v-on:click="send()">
                        评论
                    </div>
                    <div class="card-body">
                        <form class="row">
                            <div class="col">
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label class="form-label">昵称</label>
                                        <input class="form-control" v-model="form.nickName"/>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">邮箱</label>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="留下邮箱，以便收到留言回复" v-model="form.email"/>
                                            <button class="btn btn-outline-primary" v-on:click="sendcode()" type="button">获取验证码</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-3">
                                        <label class="form-label">验证码</label>
                                        <input placeholder="输入验证码" class="form-control" v-model="form.code"/>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <label class="form-label">评论内容</label>
                                        <textarea placeholder="输入友善评论" class="form-control" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <button class="btn btn-primary" v-on:click="submit()" type="button">提交评论</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <button class="btn btn-primary">test</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        @await Html.PartialAsync("_CategoryPartial")
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/css/vs2015.min.css"/>

}

@section Scripts
{
    <script src="~/js/highlight.js"></script>
    <script src="~/js/vue.js" asp-append-version="true"></script>
    <script src="layer/layer.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',
            (event) => {
                document.querySelectorAll('pre code').forEach((el) => {
                    hljs.highlightElement(el);
                });
            });
    </script>
    <script>
     new Vue({
        el:'#comment',
        data:{
           form:{
            nickName:'',
            email:'',code:'',
            content:''
           },
           loading:false,
           commentList:[],
           comment:{
            index:1,size:20,link:'@post.Link'    
           }
        },
        methods:{
            submit(){
                console.log('send',this.form)
                $.post("/api/")
            },
            getComment(){
                let that = this;
                $.get('/api/Comment/GetList',this.comment,function (res){
                    console.log(res,that.comment)
                    for (let i =0 ;i<res.data.length;i++){
                         that.commentList.push(res.data[i])
                    }
                })
            },
            sendcode(){
                $.ajax({
                url:'/api/Visitor/SendVerificationCode',
                method:'post',
                data:JSON.stringify({email:this.form.email,nickname:this.form.nickName}),
                contentType:'application/json',
                dataType:'json'
                ,success:(res)=>{
                    layer.msg('发送验证码成功')
                }
                ,error:(err)=>{
                    console.error(err)
                    layer.msg()
                }
                })
            }
        }
     })
     
    </script>
}