@page "/{index?}"
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page" + Model.CurrIndex;
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Panda Blog System</h1>
            <p>一个使用.NET 7构建的博客系统</p>
        </div>
    </div>
</div>
<div class="row mt-2 g-2">
    <div class="col-12 col-md-12 col-lg-9">
        <div class="row">
            <div class="col">
                <div class="card">
                    @foreach (var item in Model.ListItems)
                    {
                        <div class="post-list-item">
                            @if (item.Cover != null)
                            {
                                <div class="img-box">
                                    <img src="@item.Cover" alt="@item.Title"/>
                                </div>
                            }
                            <div class="item">
                                <div class="top">
                                    <div class="title">
                                        <a href="/post/@(item.Link).html" class="text-black">@item.Title</a>
                                    </div>
                                    <div class="summary text-secondary">
                                        @Html.Raw(item.Summay)
                                    </div>
                                </div>
                                <div class="info-bar text-muted">
                                    <p>
                                        <i class="ri-time-line m-r-1"></i><span>@item.UpdateTime.ToLocalTime().ToString("yyyy-MM-dd")</span>
                                        <i class="ri-user-line m-l-2 m-r-1"></i><span>@item.Author</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                @{
                    var list = Model.Count.GenPageIndexList(10, Model.CurrIndex, 5);
                    var pageCount = Model.Count.GetPageSum(10);
                }
                @if (list.Length == 1)
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            @if (Model.CurrIndex > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link">上一页</a>
                                </li>
                            }
                            @if (list.Length > 1)
                            {
                                @foreach (var i in list)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="/@i">@i</a>
                                    </li>
                                }
                            }
                            @if (Model.CurrIndex < pageCount)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="#">下一页</a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-3">
        <div class="card mb-2">
            <div class="card-header">
                微信公众号
            </div>
            <div class="card-body">
                <img src="qr.png" alt="微信公众号" style="max-width: 90%;
margin: 0 auto"/>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                站内搜索
            </div>
            <div class="card-body">
                <form class="row g-1">
                    <div class="col-auto">
                        <input class="form-control"/>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-outline-success">搜索</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                标签
            </div>
            <div class="card-body">
                @await Html.PartialAsync("Shared/_TagsPartial")
            </div>
        </div>
        @await Html.PartialAsync("_CategoryPartial")
        <div class="card mb-2">
            <div class="card-header">
                最近更新
            </div>
            <div class="card-body">
                @await Html.PartialAsync("Shared/_NewestPartial")
            </div>
        </div>

    </div>
</div>